audioread==2.1.6
glog==0.3.1
librosa==0.6.3
matplotlib==3.0.3
numpy==1.15.4
pandas==0.24.2
pickleshare==0.7.5
scikit-learn==0.20.1
scipy==1.1.0
tensorboard==1.12.2
tensorboardX==1.6
tensorflow==2.3.1
torch==0.4.1
tqdm==4.31.1